<mat-card matRipple class="post-list-item" [routerLink]="'/post/' + post.id">
	<div>
		<mat-card-title>{{ post.title }}</mat-card-title>
		<mat-card-subtitle>by {{ post.author }} on {{ post.publish_date }}</mat-card-subtitle>
		<mat-card-content>{{ post.description }}</mat-card-content>
	</div>
</mat-card>
