.comment-form {
	margin: 1rem 0;
	.mat-form-field {
		width: 100%;
	}
	.button {
		margin-top: 0.2rem;
	}
}

.comment-tree-invisible {
	display: none;
}

.comment-tree ul,
.comment-tree li {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}
