<div class="post-details-container">
	<button mat-icon-button routerLink=""><mat-icon>chevron_left</mat-icon> Back</button>
	<div *ngIf="$post | async as post">
		<mat-card>
			<mat-card-title>{{ post.title }}</mat-card-title>
			<mat-card-subtitle>by {{ post.author }} on {{ post.publish_date }}</mat-card-subtitle>
			<mat-card-content [innerHtml]="post.content"></mat-card-content>
		</mat-card>
		<form class="comment-form" [formGroup]="newCommentForm" (ngSubmit)="onNewCommentSubmit(newCommentForm)">
			<mat-form-field>
				<mat-label>Add a comment</mat-label>
				<textarea formControlName="comment" matInput maxlength="400"></textarea>
				<mat-hint align="end">{{ comment.value.length }} / 400</mat-hint>
				<mat-error *ngIf="comment.invalid && (comment.dirty || comment.touched) && comment.errors.required"
					>Content is required.</mat-error
				>
				<mat-error *ngIf="comment.invalid && (comment.dirty || comment.touched) && comment.errors.minlength"
					>Content must be at least 10 characters long.</mat-error
				>
			</mat-form-field>
			<button mat-flat-button color="primary" class="button" type="submit" [disabled]="formSubmitting">Submit</button>
		</form>
		<mat-tree
			*ngIf="$comments | async as comments"
			[dataSource]="commentTreeDataSource"
			[treeControl]="commentTreeControl"
			class="comment-tree"
		>
			<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
				<li class="mat-tree-node">
					<button mat-icon-button disabled></button>
					{{ node.content }}
				</li>
			</mat-tree-node>
			<mat-nested-tree-node *matTreeNodeDef="let node; when: treeNodeHasChild">
				<li>
					<div class="mat-tree-node">
						<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
							<mat-icon class="mat-icon-rtl-mirror">
								{{ commentTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
							</mat-icon>
						</button>
						{{ node.content }}
					</div>
					<ul [class.comment-tree-invisible]="!commentTreeControl.isExpanded(node)">
						<ng-container matTreeNodeOutlet></ng-container>
					</ul>
				</li>
			</mat-nested-tree-node>
		</mat-tree>
	</div>
</div>
