<div class="post-list-container">
	<div *ngIf="$posts | async as posts; else loadingPosts">
		<ng-container *ngIf="posts.length > 0; else emptyPosts">
			<app-post-list-item
				class="post-list-item-container"
				*ngFor="let post of sortPostsByDate(posts)"
				[post]="post"
			></app-post-list-item>
		</ng-container>
		<ng-template #emptyPosts>
			<mat-card class="no-posts-message">No posts found.</mat-card>
		</ng-template>
	</div>
	<ng-template #loadingPosts>
		<p class="loading-posts-message">Loading posts...</p>
	</ng-template>
</div>
