<div class="css-task-container">
	<div class="row">
		<div class="test-kit-header-row col-md-4 d-md-block d-none">
			<!-- TODO: lazy load this image -->
			<img class="test-kit-image" src="https://lgcassets.com/v-441/assets/3.0/images/new-homepage/kit/kit-471.jpg" alt="LetsGetChecked Test Kit">
		</div>
		<div class="test-kit-list-row col-md-8">
			<h1>Our Bestselling Home Tests</h1>
			<ng-container *ngFor="let t of homeTestKits; let i = index">
				<div *ngIf="i % testKitRowLength === 0" class="row mb-2">
					<div *ngFor="let testKit of homeTestKits.slice(i, i + testKitRowLength)" class="col-md-4 col-6">
						<mat-card class="home-test-card m-1">
							<img mat-card-image class="home-test-icon" [src]="svgRoot + testKit.svgIcon" />
							<mat-card-subtitle>{{ testKit.name }}</mat-card-subtitle>
							<mat-card-content>{{ testKit.description }}</mat-card-content>
						</mat-card>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>