.css-task-container {
	.test-kit-header-row {
		text-align: center;
		.test-kit-image {
			max-width: 100%;
			max-height: 100%;
			transform: translateY(-50%);
			position: relative;
			top: 50%;
		}
	}
	.test-kit-list-row {
		.home-test-card  {
			width: calc(100% - .25rem);
			height: calc(100% - .25rem);
			.home-test-icon {
				height: 50px;
			}
		}
	}
}